
  <nav class="header-nav group">

    <h1 class="header-logo">
      <a href="#">bokeh</a>
    </h1>

    <ul class="nav-links group">

      <% if(currentUser.isSignedIn()) { %>
        <li>
          <a href="#/users/<%= currentUser.id %>">You</a>
          <ul class="user-options">
            <li><a href="#/users/<%= currentUser.id %>">Photos</a></li>
            <li><a href="#/users/<%= currentUser.id %>/albums">Albums</a></li>
          </ul>
        </li>
      <% } else { %>
        <li><a href="#users/new">Sign Up</a></li>
      <% } %>

      <li><a href="#/explore" class="explore">Explore</a></li>
    </ul>

    <ul class="nav-tools group">

      <% if(currentUser.isSignedIn()) { %>
        <li><a href="#">Upload</a></li>
        <li><a href="#/explore" id="sign-out-link">Sign Out</a></li>
        <li><a href="#/users/<%= currentUser.id %>"><%= currentUser.escape("name") %></a></li>
      <% } else { %>
        <li><a href="#session/new">Upload</a></li>
        <li><a href="#session/new">Sign In</a></li>
      <% } %>
    </ul>

  </nav>
