  <div class="opacity-gradient"></div>
  <img class="banner-image" src="<%= user.escape("banner_url") %>"/>
  <nav class="banner-info group">

    <img class="avatar-image" src="<%= user.escape("avatar_url") %>"/>

    <ul class="banner-user-details">
      <li class="user-name"><h1><%= user.escape("name") %></h1></li>
      <ul class="user-info group">
        <li class="user-email"><%= user.escape("email") %></li>
        <nav class="num-photos-and-joindate">
          <% if( user.photos().length === 1) { %>
            <h2><%= user.photos().length %> Photo</h2>
          <% } else { %>
            <h2 class="num-photos"><%= user.photos().length %> Photos</h2>
          <% } %>
          <h2>Joined <%= user.escape("created_at").slice(0,4) %></h2>
        </nav>
      </ul>
    </ul>

  </nav>
