<img class="photo-user-pic" src="<%= photo.user().escape("avatar_url") %>"/>

<h1 class="photo-user-name">
  <a href="#/users/<%= photo.escape("user_id") %>"><%= photo.user().escape("name") %></a>
</h1>



<form class="edit-details">
  <input type="text" name="photo[title]" value="<%= photo.escape("title") %>" placeholder="Title">
  <textarea name="photo[description]" rows="4" cols="30" placeholder="Description"><%= photo.escape("description") %></textarea>
</form>
