<a href="#/photos/<%= photo.id %>">
  <img src="<%= photo.escape("medium_url") %>"/>
  <div class="caption group">
    <a class="user-avatar" href="#/users/<%= photo.attributes.user_id %>">
      <img src="<%= photo.user().attributes.avatar_url %>"/>
    </a>
    <div class="title"><%= photo.attributes.title %> | <%= photo.comments().length %> <i class="fa fa-comments-o"></i></div>
  </div>
</a>
