<h2>Create a new Album</h2>

<%= flash[:errors] if flash[:errors] %>

<form action=" <%= user_albums_url %> " method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="album[title]" value="<%= @album.title %>">
  </label>

  <label>Description
    <input type="text" name="album[description]" placeholder="Optional" value="<%= @album.description %>">
  </label>


  <button>Create</button>

</form>
