
<br>
<a href="<%= user_url(@album.user_id) %>">
  <% if @album.user.name %>
  <%= @album.user.name %>'s Albums
  <% else %>
  <%= @album.user.email %>'s Albums
  <% end %>
</a>
<br>

<h2><%= @album.title %></h2>

  <p><%= @album.description %></p>
