<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h2>Bokeh</h2>

  <% if signed_in? %>
    <a href="<%= user_url(current_user) %>"><%= current_user.email %></a>
    <%= button_to "Sign Out", session_url, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>

<%= yield %>

<%= link_to "View All Albums", albums_url %>
</body>
</html>
